<!-- <a name="top">
  <a href="#weekend">Weekend</a>
  <a href="#travel">Travel</a>
  <a href="#location">Location</a>
  <a href="#RSVP">Registry</a>
</a> -->


<a name="weekend">
  <% 2.times do %>
    <p></p>
  <% end %>
  <%= image_tag "weekend.jpeg",:size => "600x500", class: "lunaplane_flying"%>
  <a href="#top"><%= image_tag "up.png" %></a>
</a>

<% 20.times do %>
  <h1>&nbsp; </h1>
<% end %>
<a name="travel">
  <% 2.times do %>
    <p></p>
  <% end %>
  <%= image_tag "travel.png",:size => "600x500", class: "lunaplane_flying"%>
  <a href="#top"><%= image_tag "up.png" %></a>
</a>

<% 20.times do %>
  <h1>&nbsp; </h1>
<% end %>
<a name="location">
  <% 2.times do %>
    <p></p>
  <% end %>
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "lunaplane_flying"%>
  <a href="#top"><%= image_tag "up.png" %></a>
</a>

<% 20.times do %>
  <h1>&nbsp; </h1>
<% end %>
<a name="registry">
  <% 2.times do %>
    <p></p>
  <% end %>
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "lunaplane_flying"%>
  <a href="#top"><%= image_tag "up.png" %></a>
</a>